body{
  background-color:#0C4271;
  font-family: 'Source Code Pro', monospace;
  text-align: center;

}

h1{
  color: #00DBCD;

}

p{
  font-size: 3rem;
  color: #00DBCD;
  text-align: left;
  padding: 25px;
}


/*.bottom-container{
  text-align: center;
  padding: 100px;

}*/

h3{
  font-size: 2.5rem;
  color: #00DBCD;
}

.image{
  width: 10rem;
}
